body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.navigator ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 auto;
    padding: 5%;
}
.navigator a {
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 40px;
    text-decoration: none;
}
.navigator a:hover {
    color: #fffd75;
    text-decoration: underline;
}
.fon {
    height: 650px;
    border: 1px solid rgb(218, 161, 57);
    background-image: url('./images/fon3.jpg');
    background-size: cover;
    margin: 0 ;
    padding: 0;
}
.block {
    display: flex;
    
}
.block1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}
.block2 {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 50%;
}
.block3 {
    padding: 2%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.me {
    margin: 3%;
    padding: 3%;
    background-size: contain;
}
.name {
    
    padding: 100px;
    font-style: italic;
    font-family:Castellar;
    font-size: 28px;
}